# Virtual environment
venv/
.env

# Python cache
__pycache__/
*.pyc
*.pkl
app/services/food_quantity_model.pkl

# Firebase secrets
firebase_service_account.json

# OS / IDE
.vscode/
.idea/

node_modules/